body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  z-index: 1000;
}

.main-container {
  padding: 40px 40px 0px 40px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
  flex: 1; /* Zorgt dat main de resterende ruimte vult */
}

.btn-primary {
  background-color: #337ab7 !important;
  border-color: #337ab7 !important;
}

.btn-primary:hover {
  background-color: #29608f !important;
  border-color: #29608f !important;
}

.custom-shadow {
  box-shadow: 0 4px 16px rgba(0,0,0,0.07);
}

.dropdown-item:active,
.dropdown-item:focus {
  background-color: #c00 !important;
  color: #fff !important;
}